#toggleSound, #toggleFX{
  display: block;
  max-width:30px;
  max-height:30px;
  width: auto;
  height: auto;
}
.sound {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#toggleSound:hover, #toggleFX:hover{
  cursor: pointer;
}
body {
  background: linear-gradient(to right, #070000, #00BCD4, #070000);
  /* background-image: url("../pic04.jpg"); */
  background-size: 100vw 100vh;
  color: white;
}


* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  list-style: none;
}


  #BubbleBurstCanvas:hover{
    /* cursor: none; */
  }

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main{
  position: relative;
  display: flex;
  align-items: center;
}

canvas {
  background-color: rgba(0,0,0,.5);
  display: block;
  margin: 0 auto;
  border: 4px solid black;
  border-radius: 10px;
}

h1 {
  width: max-content;
  font-size: 102px;
  margin: 0 auto;
  font-family: 'Bangers', cursive;
  text-shadow: 2px 2px #ff0000;
  -webkit-text-stroke: 1px black;
}

h2 {
  font-size: 50px;
  padding: 5px;
  font-family: 'Bangers', cursive;
  text-shadow: 2px 2px #ff0000;
  -webkit-text-stroke: 1px black;
}

.rules, .personal-links{
  position: absolute;
  z-index: 1;
  max-width: 285px;;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
  padding: 20px;
  line-height: 35px;
  border: 4px solid black;
  color: white;

}

.rules {
  right: 72%;
}
.personal-links {
  left: 72%;
  /* line-height: 50px; */
}
/* @media (max-width:1121px){
  .personal-links {
    left: none;
    line-height: none;
    margin-top: 235px;
  }
} */

.personal-links ul {
  flex-direction: row;
}

@media (max-width:1121px) {
  .rules, .personal-links {
    position: relative;
    flex-direction: row;
    justify-content: center;
    bottom: 0px;
    align-self: center;
    left: 0;
    right: 0;
    margin: 10px;
    max-width: 456px;
    min-width: 456px;
  }

  .personal-links {
    top: -815px;
    margin-top: 10px;
    flex-direction: row;
  }

  .personal-links ul {
    display: flex;
    width: 503px;
    justify-content: space-evenly;

  }

  #BubbleBurstCanvas{
    margin-top: 45px;
  }

  .rules {
    top: -110px;
  }

  h1 {
    margin-bottom: 100px;
  }

  .main {
    flex-direction: column;
  }

  body {
    background-size: 100vw 100vh;
  }

}

/* @media (max-width:600px) {
  * {font-size: 10px;}
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  .rules, .personal-links {
    padding: 5px;
  }
} */
