body {
  background: linear-gradient(to right, #070000, #30d9ff, #070000);
  background-size: 100vw 100vh;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main{
  position: relative;
  display: flex;
  align-items: center;
}

canvas {
  background-color: rgba(0,0,0,.5);
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
}

h1 {
  width: max-content;
  font-size: 62px;
  margin: 0 auto;
  font-family: 'Bangers', cursive;
  text-shadow: 2px 2px #ff0000;
  -webkit-text-stroke: 1px black;
}

h2 {
  font-size: 34px;
  font-family: 'Bangers', cursive;
  text-shadow: 2px 2px #ff0000;
  -webkit-text-stroke: .px black;
}

.rules, .personal-links{
  position: absolute;
  z-index: 1;
  max-width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
  padding: 20px;
  line-height: 35px;
}

.rules {
  left: 70px;
}
.personal-links {
  right: 200px;
  line-height: 50px;
}
